export ALTI_HOME=$PWD/alti_home/
export REPLAY_DIR=$PWD/recordings/
export STATS_DB=$PWD/stats_db/stats.db

# dependencies installed with nix
[ -f etc/nix.env ] && source etc/nix.env

# secret database stuff
[ -f etc/dev.env ] && source etc/dev.env

PATH_add $PWD/bin
