source_up

# replay file that used to be MASSIVE (136M), now is 1.4K
export BIG="../recordings/9b2adce6-55a9-49eb-aae1-ed86a5aeb284.pb"

# normal game, 1.4M, http://altistats.com/game/95a913d6-90ea-4f0d-b38c-88330d278e4e
export REAL="../recordings/95a913d6-90ea-4f0d-b38c-88330d278e4e.pb"
